@import url("responsive.css");
@import url("header.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 2vmin;
}

body {
  /* border: 2px solid black; */
  height: auto;
  background: white;
}

.top_menu {
  /* border: 1px solid black; */
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* border: 1px solid lightgrey; */
  border-radius: 3px;
  /* background-color: lightgrey; */
  background-image: linear-gradient(
    rgb(38, 81, 221),
    rgba(38, 81, 221, 1),
    rgba(38, 81, 221, 0.9),
    rgba(38, 81, 221, 0.8),
    rgba(38, 81, 221, 0)
  );
  z-index: 10;
}

.menu_content {
  /* border: 1px solid green; */
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
}

.menu_content li {
  /* border: 2px solid red; */
  list-style: none;
  margin-left: 2rem;
}

.menu_content a {
  /* border: 1px solid blue; */
  text-decoration: none;
  color: white;
  /* white-space: nowrap;
    text-overflow: "..."; */
  font-size: 3vmin;
  transition: 0.3s;
}

.menu_content a:hover {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 1vmin;
  background-color: black;
  padding: 1vmin;
  color: red;
}

.exit {
  position: fixed;
  right: 0;
  margin-right: 2rem;
}

.presentation {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  row-gap: 2vmin;
  column-gap: 1vmin;
  grid-template-areas:
    "profile_img personal_data coding"
    "about_me about_me about_me"
    "habilities habilities habilities"
    "contact contact contact";
  position: relative;
  top: 15vh;
  padding: 1vmin;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.profile_img {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2rem;
  grid-area: profile_img;
}

.profile_img img {
  /* border: 1px solid rgba(255, 0, 0, 0.548); */
  width: 30vmin;
  height: auto;
  border-radius: 3vmin;
  max-height: 40vh;
}

.personal_data {
  /* border: 1px solid black; */
  grid-area: personal_data;
  width: 50vw;
}

.personal_data h2 {
  font-size: 3vmin;
  margin-left: 2vmin;
}

.personal_data p {
  font-size: 3vmin;
  margin-bottom: 1vmin;
  margin-left: 2vmin;
}

.coding {
  /* border: 1px solid black; */
  grid-area: coding;
}

.coding img {
  /* border: 1px solid black; */
  height: auto;
  width: 20vw;
  max-height: 40vh;
}

.about_me {
  /* border: 1px solid black; */
  grid-area: about_me;
  margin-top: 4vmin;
  margin-left: 2rem;
  margin-right: 2rem;
  height: auto;
}

.about_me h1 {
  font-size: 3.5vmin;
  font-weight: 450;
  padding-left: 3vw;
  border-radius: 1vmin;
  background: rgb(38, 81, 221);
  width: 20vw;
  min-width: 15rem;
  margin-bottom: 3vmin;
  color: white;
}

.about_me p {
  font-size: 3vmin;
}

.habilities {
  /* border: 1px solid red; */
  height: auto;
  grid-area: habilities;
  margin-top: 0vmin;
  margin-left: 2rem;
  margin-right: 2rem;
}

.habilities h1 {
  font-size: 3.5vmin;
  font-weight: 450;
  padding-left: 3vw;
  border-radius: 1vmin;
  background: rgb(38, 81, 221);
  width: 20vw;
  min-width: 15rem;
  margin-bottom: 3vmin;
  color: white;
}

.li {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.li li {
  /* border: 1px solid red; */
  display: block;
  font-size: 3vmin;
  list-style-image: url("/assets/list.svg");
  width: auto;
  height: 8vh;
  min-width: 32%;
  max-width: 43vmin;
}

.li li span {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: 2.5vh;

  font-size: 3vh;
}

.li li span p {
  content: url("/assets/list.svg");
  position: relative;
  height: 5vh;
  top: -1vh;
  margin-right: -4px;
}

/* .li li span::before {
  content: url("/assets/list.svg");
  position: relative;
} */

.contact {
  /* border: 1px solid black; */
  grid-area: contact;
  height: 10rem;
  margin-top: 2vmin;
  margin-left: 2rem;
  margin-right: 2rem;
}

.contact h2 {
  /* border: 1px solid black; */
  font-size: 3.5vmin;
  font-weight: 450;
  padding-left: 3vw;
  border-radius: 1vmin;
  background: rgb(38, 81, 221);
  width: 20vw;
  min-width: 15rem;
  margin-bottom: 3vmin;
  color: white;
}

.contact p,
a {
  font-size: 3vmin;
  margin-bottom: 1vmin;
  color: black;
  text-decoration-color: blue;
}
