@media (min-width: 801px) {
  .top_menu_mobile {
    display: none;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .top_menu {
    display: none;
  }
  .top_menu_mobile {
    /* border: 1px solid rgb(107, 102, 102); */
    /* position: fixed; */
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid lightgrey; */
    border-radius: 0 0 3px 3px;
    /* background-color: lightgrey; */
    background-color: rgba(38, 81, 221, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  .top_menu_mobile img {
    /* border: 1px solid whitesmoke; */
    padding: 3vw;

    margin: auto 4vmin;
    width: 3vh;
    cursor: pointer;
  }
  .top_menu_mobile p {
    border: 1px solid whitesmoke;
    padding: 1vmin;
    border-radius: 8px;
    font-size: 3vmin;
    color: whitesmoke;
    max-height: 32px;
  }
  .top_menu_mobile nav {
    transition: 1s;
  }
  .top_menu_mobile.content.hidden {
    padding-top: 2rem;
    position: fixed;
    top: -70vh;
    height: auto;
    opacity: 0;
    z-index: 20;
    transition: 0.4s;
  }
  .top_menu_mobile.content {
    padding-top: 2rem;
    position: fixed;
    top: 10vh;
    height: auto;
    opacity: 1;
    z-index: 50;
    transition: 0.3s;
  }
  .top_menu_mobile .content li {
    display: flex;
    width: 600px;
    position: relative;
    top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .top_menu_mobile .content li a {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width: 92vw;
  }

  #logout_button {
    pointer-events: none;
  }

  #hidden_a {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 220;
    /* background-color: blueviolet; */
    height: 10vh;
    width: 20vw;
  }

  .coding {
    display: none;
  }
  .presentation {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 1vmin;
    position: relative;
    top: 12vh;
    padding: 1vmin;
    align-items: center;
    height: 40vh;
  }
  .about_me {
    margin-top: 2vmin;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .top_menu {
    display: none;
  }
  .top_menu_mobile {
    /* border: 1px solid rgb(107, 102, 102); */
    /* position: fixed; */
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid lightgrey; */
    border-radius: 0 0 3px 3px;
    /* background-color: lightgrey; */
    background-color: rgba(38, 81, 221, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  .top_menu_mobile img {
    /* border: 1px solid whitesmoke; */
    padding: 0 3vw 0 3vw;

    margin: auto 4vmin;
    width: 3vh;
    cursor: pointer;
  }
  .top_menu_mobile p {
    border: 1px solid whitesmoke;
    padding: 1vmin;
    border-radius: 8px;
    font-size: 3vmin;
    color: whitesmoke;
    max-height: 32px;
  }
  .top_menu_mobile nav {
    transition: 1s;
  }
  .top_menu_mobile.content.hidden {
    padding-top: 2rem;
    position: fixed;
    top: -70vh;
    height: auto;
    opacity: 0;
    z-index: 20;
    transition: 0.4s;
  }
  .top_menu_mobile.content {
    padding-top: 2rem;
    position: fixed;
    top: 10vh;
    height: auto;
    opacity: 1;
    z-index: 50;
    transition: 0.3s;
  }
  .top_menu_mobile .content li {
    display: flex;
    width: 600px;
    position: relative;
    top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .top_menu_mobile .content li a {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width: 92vw;
  }

  #logout_button {
    pointer-events: none;
  }

  #hidden_a {
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 220;
    /* background-color: blueviolet; */
    height: 10vh;
    width: 15vw;
  }
  .coding {
    display: none;
  }
  .presentation {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 1vmin;
    position: relative;
    top: 12vh;
    padding: 1vmin;
    align-items: center;
    height: 40vh;
  }
  .about_me {
    margin-top: 2vmin;
  }
}
