@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    font-size: 2vmin;
}

html {
    /* border: 2px solid black; */
    height: auto;
    background: white;

}


.top_menu {

    /* border: 1px solid black; */
    height: 10vh;
    position:fixed;
	top:0;
    left:0;
    right: 0;
    /* border: 1px solid lightgrey; */
    border-radius: 3px;
    /* background-color: lightgrey; */
    background-image: linear-gradient(rgb(207, 184, 50),  rgba(207, 184, 50, 0.74), rgba(207, 184, 50, 0));
    z-index: 10;

}

.menu_content {
    /* border: 1px solid green; */
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;

}

.menu_content li {
    /* border: 2px solid red; */
    list-style: none;
    margin-left: 2rem;
}

.menu_content a {
    /* border: 1px solid blue; */
    text-decoration: none;
    color: black;
    /* white-space: nowrap;
    text-overflow: "..."; */
    font-size: 3vmin;
    
}

.exit {
    position: fixed;
    right: 0;
    margin-right: 2rem;
}

.presentation {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 1vmin;
    position: relative;
    top: 10vh;
    padding: 1vmin;
    align-items: center;
    

}

.profile_img {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    
}

.profile_img img {
    /* border: 1px solid rgba(255, 0, 0, 0.548); */
    width: 30vmin;
    height: auto;
    border-radius: 3vmin;
    margin-right: 3vmin;

}

.personal_data {
    /* border: 1px solid black; */

}

.personal_data h2 {
    font-size: 3vmin;
}

.personal_data p {
    font-size: 3vmin;
    margin-bottom: 1vmin;
}







