@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: black;
    color: brown;
}

 .menu {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    display: inline-flex;
}

.menu li {
    margin-left: 1rem;
    list-style: none;
    padding: 1rem;
    cursor: pointer;
    opacity: 1;
    transition: ease-in-out 0.5s;
    

    
}

.menu li:hover {
    opacity: 0.7;
    transition: ease-in-out 0.5s;

}


.submenu {
    display: none;

}

.show {
    display: grid;
    margin-right: 1rem;
    transition: ease-in-out 2s;

    
}

.show:hover {
    display: inline;
    color: brown;
}

.h1-1 {
    color: white;
}

.h1-1 .none {
    display: none;
}

.h2-2 {
    color: white;
}





