@media (orientation: portrait) {
  /* setting action to none class on mobile screen */
  .display .none {
    display: none;
  }

  /* menu mobile config */

  .display {
    top: 70px;
  }
  .topMenu {
    height: 70px;
    z-index: 5;
  }

  .topMenu.active {
    z-index: 500;
  }

  .topMenu #menuButton {
    content: "";
    background-color: rgb(116, 113, 113);
    background-image: url("./assets/openmenu.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .topMenu.active #menuButton {
    background-image: url("./assets/closemenu.svg");
    background-size: 60%;
    background-color: rgb(160, 25, 25);
    transform: rotate(90deg);
    transition: 0.3s;
  }

  .topMenu .menu {
    background: linear-gradient(
      black,
      rgba(0, 0, 0, 0.884),
      rgba(0, 0, 0, 0.822)
    );
    margin: 0;
    border-radius: 0 0 18px 0;
    width: 45vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -45vw;
    z-index: 2;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    /* border: 1px solid white; */
  }

  .topMenu.active .menu {
    left: 0;
  }

  .topMenu .socialNetworks {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 5vw;
    width: 50vw;
    height: 70px;
  }

  .topMenu .socialNetworks img {
    /* border: 1px solid white; */
    height: 30px;
    width: 30px;
    margin: 0;
    top: 20px;
  }

  /* homepage mobile config */

  .personalData #span {
    display: none;
  }

  .personalData #span span {
    display: none;
  }

  #arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    height: 70vw;
    width: 94vw;
    /* border: 1px solid black; */
    /* margin-bottom: -50px; */
    justify-content: flex-end;
    align-self: center;
  }

  #arrow span {
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    background: url("./assets/open.svg") no-repeat;
    transform: rotate(90deg);
    margin-bottom: -25px;
    align-self: center;
    animation: clickMe 1s infinite;
  }

  #arrow span.opened {
    transform: rotate(270deg);
  }

  .display {
    display: flex;
    flex-direction: column;
  }

  .personalData {
    display: flex;
    width: 94vw;
    overflow: hidden;
    height: 70vw;
    margin: 10px 3vw 8px 3vw;
    top: 80px;
    border-top: none;
    background: whitesmoke;
    border-radius: 8px;
    padding: 2vw 2vw 0 2vw;
    border-bottom: 2vw solid whitesmoke;
  }

  .personalData.opened {
    height: max-content;
  }

  .personalData div#data {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
  }

  .personalData div#data section {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
  }

  .personalData div#data .cards {
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .personalData div#data .cards img {
    width: 100%;
    margin-bottom: 0;
  }

  .personalData div#data img {
    align-self: center;
    width: 100%;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .personalData div#data h2 {
    /* border: 1px solid black; */

    width: 100%;
    margin-top: 15px 0 0 0;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .personalData div#data h3 {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    /* font-style: italic; */
    font-size: 1rem;
    font-weight: 300;
  }

  .personalData.opened div#data h2 {
    /* border: 1px solid black; */

    width: 100%;
    margin-top: 15px 0 0 0;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .personalData.opened div#data h3 {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    /* font-style: italic; */
    font-size: 1rem;
    font-weight: 300;
  }

  .personalData.opened > #data > section.extrainfo {
    left: 0;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0;
  }

  .personalData.opened > #data > section.extrainfo > h2 {
    /* border: 1px solid red; */
    /* line-height: 0; */
    font-size: 1.3rem;
    margin: 15px 0 0 0;
  }

  .personalData.opened > #data > section.extrainfo > h3 {
    /* line-height: 0; */
    font-size: 1rem;
    /* border: 1px solid red; */
  }

  div.about {
    /* border: 1px solid white; */
    width: 94vw;
    height: 84vh;
    margin: 15px 2vw 3vh 3vw;
    padding: 8px;
    background: whitesmoke;
    border-radius: 8px;
    position: relative;
    right: 0;
    flex: 1;
  }

  .about h2 {
    /* border: 1px solid black; */
    background-color: grey;
    border-radius: 35px 10px 35px 10px;
    padding: 5px 15px;
    color: whitesmoke;
    font-style: italic;
    font-weight: 400;
    font-size: 6vmin;
  }

  .about p {
    font-size: 4.5vmin;
    font-weight: 300;
  }

  /* skills page  mobile config */

  div.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    bottom: 0;
    height: max-content;
    width: 94vw;
    align-self: center;
  }

  div.skills div {
    /* border: 1px solid white; */
    margin: 0;
    height: max-content;
    width: 94vw;
    align-self: center;
    margin-bottom: 8px;
    border-radius: 1rem;
    background: whitesmoke;
    padding: 10px;
    display: grid;
    grid-template-areas:
      "hability img"
      "percentage percentage";
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  /* div.skills div section {
    border: 1px solid black;
  } */

  div.skills div section#img {
    grid-area: img;
    /* width: 60%; */
  }

  div.skills div section#img img {
    width: 100px;
    height: 100px;
  }

  div.skills div section#hability {
    grid-area: hability;
  }

  div.skills div section#hability h3 {
    font-size: 7vmin;
    margin-bottom: 15px;
    background-color: rgb(93, 95, 93);
    border-radius: 30px 8px 30px 8px;
    padding: 0 15px;
    color: whitesmoke;
    font-weight: 400;
    font-style: italic;
  }

  div.skills div section#hability h4 {
    font-size: 5vmin;
    font-weight: 300;
  }

  div.skills div section#percentage {
    grid-area: percentage;
    display: flex;
    align-items: center;
  }

  div.skills div section p {
    text-align: center;
    background: forestgreen;
    border-radius: 8px;
    color: whitesmoke;
    animation: loading 2s forwards;
  }

  /* projects mobile page config */

  .projects {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    width: 94vw;
  }

  .projects > div {
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 94vw;
    align-self: center;
    position: relative;
    top: 10px;
    padding: 8px;
    background-color: whitesmoke;
    margin-bottom: 10px;
  }

  .projects #img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    margin-bottom: 8px;
  }

  .projects h3 {
    font-size: 7vmin;
    margin-bottom: 15px;
    background-color: rgb(93, 95, 93);
    border-radius: 30px 8px 30px 8px;
    padding: 0 25px;
    color: whitesmoke;
    font-weight: 400;
    font-style: italic;
    width: max-content;
  }

  .projects #description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .projects #description p:first-child {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 5vmin;
  }

  .projects #description p {
    font-size: 4.5vmin;
    font-weight: 300;
  }

  .projects #description a {
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgb(70, 180, 70);
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
  }

  /* couses mobile page config */

  .courses {
    /* border: 1px solid red; */

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    width: 94vw;
    height: max-content;
  }

  .courses > div {
    /* border: 1px solid red; */

    width: 94vw;
    height: max-content;

    background-color: whitesmoke;
    align-self: center;
    border-radius: 8px;
    position: relative;
    top: 10px;
    padding: 8px;
    margin-bottom: 10px;
  }

  .courses img {
    border-radius: 8px 8px 0 0;
    margin-bottom: 8px;
  }

  .courses h3 {
    font-size: 6vmin;
    margin-bottom: 15px;
    background-color: rgb(93, 95, 93);
    border-radius: 30px 8px 30px 8px;
    padding: 5px 25px;
    color: whitesmoke;
    font-weight: 400;
    font-style: italic;
    width: max-content;
  }

  .courses h4 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .courses p {
    /* border: 1px solid red; */

    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .courses a[data-finished="yes"] {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgb(70, 180, 70);
    padding: 15px 0;
    margin: 0 5%;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    height: 3rem;
    width: 90%;
  }

  .courses a[data-finished="no"] {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
    padding: 15 0px;
    margin: 0 5%;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    height: 3rem;
    width: 90%;
    background-color: gray;
    pointer-events: none;
    opacity: 0.7;
  }

  /* contact mobile config */

  .contact {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    width: 94vw;
  }

  .contact > section {
    width: 94vw;
    background-color: whitesmoke;
    align-self: center;
    border-radius: 8px;
    position: relative;
    top: 10px;
    padding: 8px;
    margin-bottom: 10px;
  }

  .contact > section > h2 {
    font-size: 6vmin;
    background-color: grey;
    color: whitesmoke;
    font-style: italic;
    font-weight: 400;
    border-radius: 35px 10px;
    width: max-content;
    padding: 5px 25px;
    margin-bottom: 10px;
  }

  .contact > section > p {
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contact > section > p > a {
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    background-color: rgb(70, 180, 70);
    border-radius: 8px;
    padding: 10px;
    color: white;
  }

  .contact > section > p > span {
    /* border: 1px solid black; */
    margin-left: -10px;
    background-color: rgb(70, 180, 70);
    display: flex;
    flex-direction: row;
    height: 39px;
    border-radius: 0 8px 8px 0;
  }

  .contact > section > p > span img {
    /* border: 1px solid red; */
    height: 25px;
    align-self: center;
    margin: 0 10px;
  }
}
