/* // estilização da caixa de apresentação que se recolhe */
.personalData div.none {
  /* display: flex; */
  position: relative;
  left: -100vh;
  opacity: 0;
  z-index: -5;
  transition: 1s;
}

/* estilização da caixa de apresentação fixa */
.personalData {
  /* border: 1px solid blue; */
  display: flex;
  border-top: 1rem solid black;
  border-radius: 2rem;
  background: rgb(155, 154, 154);
  width: 20vw;
  height: 70vh;
  margin: 5vh 0 0 3vw;
  padding: 0 2vw 0 2vw;
}

/* estilização da caixa toda aberta */
.personalData.abrir {
  /* border: 1px solid blue; */
  display: flex;
  border-top: 1rem solid black;
  border-radius: 2rem;
  background: rgb(155, 154, 154);
  width: 40vw;
  height: 70vh;
  margin: 5vh 0 0 3vw;
  z-index: 51;
}

.personalData div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20vw;
}

/* estilizacao dos componentes internos da caixa fixa */
#data img {
  width: 16vw;
  margin-bottom: 2vh;
  border-radius: 8px;
}

#data h2 {
  /* border: 1px solid black; */
  color: black;
  font-weight: 500;
  font-size: 1.3vw;
  width: 16vw;
}

#data h3 {
  /* border: 1px solid black; */
  font-weight: 300;
  font-size: 1vw;
  width: 12vw;
}

/* estilizao dos itens da caixa que se abre */
#resume,
#resume h3,
#resume p {
  position: absolute;
  left: -50vh;
  transition: 0s;
}

#resume.abrir {
  justify-content: space-between;
  margin-bottom: 2vh;
}

#resume.abrir,
#resume.abrir h3,
#resume.abrir p {
  /* display: flex; */
  /* border: 1px solid black; */
  position: relative;
  left: 0;
}

#resume.abrir h3 {
  /* border: 1px solid black; */

  margin: 0 auto 0 auto;
  font-weight: 500;
  font-size: 1.3vw;
  width: 16vw;
  color: black;
}

#resume.abrir p {
  /* border: 1px solid black; */
  margin: 0 auto 0 auto;

  font-weight: 300;
  font-size: 1vw;
  width: 12vw;
  color: black;
}

#resume.abrir p + h3 {
  margin-top: 8vh;
}

/* configuração da seta abre-fecha */

#span {
  /* border: 1px solid violet; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 10vh;
  left: 0;
  margin-left: 3vw;
  height: 60vh;
  width: 20vw;
  z-index: 50000;
}

#span span {
  /* border: 1px solid violet; */
  margin-right: -35px;
  background: url("../assets/open.svg") no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#span.abrir {
  width: 40vw;
}

#span.abrir span {
  background: url("../assets/close.svg") no-repeat;
}

