.projects {
  /* border: 1px solid red; */
  width: 70vw;
  height: 84vh;
  margin: 0 3vw;
  padding: 0 1vw;
  /* background: gray; */
  border-radius: 8px;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.projects > div {
  /* border: 1px solid red; */
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  background-color: whitesmoke;
  margin-bottom: 10px;
}

.projects #img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  margin-bottom: 8px;
}

.projects h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  background-color: rgb(93, 95, 93);
  border-radius: 30px 8px 30px 8px;
  padding: 5px 25px;
  color: whitesmoke;
  font-weight: 400;
  font-style: italic;
  width: max-content;
}

.projects #description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects #description p:first-child {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.projects #description p {
  font-size: 1rem;
  font-weight: 300;
}

.projects #description a {
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  background-color: rgb(70, 180, 70);
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.projects #description a[data-finished="no"] {
  background-color: gray;
  pointer-events: none;
}
